hackathonQA
.env
embeddings.pkl
app.py
comp_dict.json
Ayush_Modi_Resume_G.pdf
data_exttarction.ipynb
gpt4all_use.py
JD_comparator.ipynb
job_finder.ipynb
resume.json
resume1.json
temp.py
website_builder.ipynb
data_extraction.ipynb
app__.py
Ayush_Modi_Resume.pdf
New-York-Resume-Template-Creative.pdf
scraped_data.json
settings.json
__pycache__